-
  var header ='#experience'
  var experienceList=[
    {
            title:'Warrior',
            date:'2019 Dec-present',
            company:'New Rocco',
                responsabilityList:[

                    'I had to update websites using HTML5/CSS3',
                    'Make sure that websites we create is Google-friendly, and use the SEO technics to reach the perfect position.',
                    'Identify problems and solve them in a proper way',
            
            ]
        },
    {
            title:'Super Star HTML and CSS',
            date:'2010 June-past',
            company:'Hotel Central',
                responsabilityList:[

                    'I had to update websites using HTML5/CSS3 and i don t know',
                    'Be carrefully that the websites we create is Google-friendly, and use the SEO technics to reach the perfect position.',
                    'Find some problems and solve them in a proper way',
            
            ]
        
        },
    {
            title:'Web Developer',
            date:'2015 April-past',
            company:'Pioneer',
                responsabilityList:[

                    'I make websites using HTML5/CSS3 and i don t know',
                    'Be patient that the websites we create is Google-friendly, and use the SEO technics to reach the perfect position.',
                    'Try to find some problems and solve them in a proper way',
            
            ]
        }
  ];


#experience
.experience
     .experience__header=header 
     input.experience__input(type="radio",name="same-name",id="experience-default") 
     each experience ,key in experienceList 
        input.experience__input(type="radio",name="same-name",id=`experience-id-${key} `)
        label.experience__title(for=`experience-id-${key} `)
           | #{experience.title}
           label(for="experience-default") 
               span.lunca2__icon--plus
        .experience__details
           .experience__top
               .experience__date=experience.date
               .experience__company=experience.company
           .experience__list
                each responsability in experience.responsabilityList
                   .experience.responsability=responsability