//- data comes here
-
  var  header = ' #about me'
  var imagePath ="asset/image/iustinmorosanu-avatar.jpg"
  var myFullName = "Iustin Morosanu"
  var myTitle = "Warrior"
  var slogan =`Nu pierde timpul pe ce nu este de pierdut`
  var achievement ={
      title:'LUNCA',
      content:'I like to make very difficult websites and program in c++,because that s my passion :)'
  }
  var coolStuff = {
      title:'Acceaseaza fisierele urmatoare',
      buttonList: [
          { 
              url:'https://github.com/IustinM',
              icon:'github',
              label:'Click to download the GitHub project source'
          }, { 
              url:'https://github.com/IustinM',
              icon:'file-word',
              label:'Click to download the file'
          }, { 
              url:'https://github.com/IustinM',
              icon:'file-word',
              label:'Click to download the file'
          }
     ]
  }

//-the view comes here
#about-me 
.about-me  
    .about-me__header=header
    .about-me__avatar-wrapper
      img.about-me__avatar(src=imagePath )
    .about-me__full-name=myFullName
    .about-me__title=myTitle
    .about-me__slogan= slogan

    .about-me__title=achievement.title
    .about-me__content=achievement.content

    .about-me__title=coolStuff.title
    .about-me__link-list
    
        each button in coolStuff.buttonList
            a.about-me__link(href=button.url)
                span.about-me__link-description=button.label
                span(class=`lunca2__icon--${button.icon}`)